<h1>Dashboard</h1>
<h2>Out of <%= @total_invitations.count%> Invitations, <%= @rsvpd_invitations.count%> have RSVP'd</h2>

<h2><%=@yes_guests.count%> have agreed to come!</h2>



<h2><%= "06/26/2010".to_date - Date.today %> days until we are married!!!</h2>

<h3>Print Labels</h3>