<h1>Dashboard</h1>
<p>Out of X Invited Guests, X have RSVP'd</p>

<p>Out of X RSVP'd, X have agreed to come!</p>

<h3>Print Labels</h3>

<h2><%= "06/26/2010".to_date - Date.today %> days until we are married!!!</h2>
