<h1>Listing Guests</h1>

<table>
<% @guests.each do |guest| %>
  <tr>
    <td><strong><%=h guest.last_name %></strong>,
    <%=h guest.first_name %>
    <%= yes_no(guest.rsvp) %></td>
  </tr>
<% end %>
</table>

<br />
