<img src="/images/jordanandbecca.png" alt="Jordan & Rebecca"/><br/>
<div id="all_photos">
	<img id="photo1" src="/images/photo1.jpg"/>
	<img id="photo2" src="/images/photo2.jpg"/>
	<img id="photo3" src="/images/photo3.jpg"/>
	<img id="photo4" src="/images/photo4.jpg"/>
	<img id="photo5" src="/images/photo5.jpg"/>
	<img id="photo6" src="/images/photo6.jpg"/>
	<img id="photo7" src="/images/photo7.jpg"/>
	<img id="photo8" src="/images/photo8.jpg"/>
	<img id="photo9" src="/images/photo9.jpg"/>
	<img id="photo10" src="/images/photo10.jpg"/>
	<img id="photo11" src="/images/photo11.jpg"/>
	<img id="photo12" src="/images/photo12.jpg"/>
	<img id="photo13" src="/images/photo13.jpg"/>
	<img id="photo14" src="/images/photo14.jpg"/>
	<img id="photo15" src="/images/photo15.jpg"/>
	<img id="photo16" src="/images/photo16.jpg"/>
	<img id="photo17" src="/images/photo17.jpg"/>
	<img id="photo18" src="/images/photo18.jpg"/>
	<img id="photo19" src="/images/photo19.jpg"/>
	<img id="photo20" src="/images/photo20.jpg"/>
	<img id="photo21" src="/images/photo21.jpg"/>
	<img id="photo22" src="/images/photo22.jpg"/>
</div>