			<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
			    $('.slideshow').cycle({
					fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
				});
			});
			</script>	
		<img src="/images/jordanandbecca.png" alt="Jordan & Rebecca"/><br/>
			<div class="slideshow" id="slideshow">
				<p><a href="/all/#photo2"><img src="/images/photo2.jpg"/></a></p>
				<p><a href="/all/#photo1"><img src="/images/photo1.jpg"/></a></p>
				<p><a href="/all/#photo3"><img src="/images/photo3.jpg"/></a></p>
				<p><a href="/all/#photo9"><img src="/images/photo9.jpg"/></a></p>
				<p><a href="/all/#photo16"><img src="/images/photo16.jpg"/></a></p>
				<p><a href="/all/#photo3"><img src="/images/photo17.jpg"/></a></p>
			</div>
			<a href="/all/">see all &raquo;</a>
		<br/>
		<img src="/images/june262010.png" alt="June 26, 2010"/>
		<p class="center">(That's <%= Date.new(2010,06,26) - Date.today %> more days!)</p>
		<img src="/images/credits.png" alt="Credits"/><br/><br/>
