
<div id="feature_container">
  <div id="feature_box">
    <h1>Retrieve your RSVP</h1>
    <p>On your RSVP card, your <em><strong>Invitation Last Name</strong></em>, and <em><strong>RSVP Keyword</strong></em> are listed. Once you enter this information, you will be taken to a page where you can RSVP for each guest, and enter any song requests for the dance.</p> <p><em>Please enter them below:</em></p>
    <% form_tag(build_rsvp_url) do%>
    <p><label for="last_name">
      Invitation Last Name:<br/>
      <%=text_field_tag "last_name"%>
    </label></p>
    
    <p><label for="keyword">
      Keyword:<br/>
      <%=text_field_tag "keyword"%>
    </label></p>
      <p><%=submit_tag "Retrieve my RSVP"%></p>
    <% end%>
    <p><em>Note: If you have any difficulties with the website, please don't hestiate to contact Becca on her cellphone at (780) 938-2457 to RSVP the old-fashioned way.</em></p>
  </div>
</div>