<div id="feature_container">
  <div id="feature_box">
    <h1 class="center">Thanks for RSVPing!</h1>
    <h3 class="center">At any time, you can go back and change your RSVP information or song requests.</h3>
  </div>
</div>