		<li id="<%=guest.id%>" class="guest">
		  <p><%=guest.name%></p>
				<%=link_to_remote image_tag('delete.png',:class => "delete_button"), :url => { :action => "delete_guest", :id => guest.id }%>
			
		</li>