<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Jordan & Rebecca - June 26, 2010</title>
	<script type="text/javascript" src="/javascripts/jquery-1.2.6.js"></script>
	<script type="text/javascript" src="/javascripts/chili-1.7.pack.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.cycle.all.js?v2.11"></script>
	<script type="text/javascript" src="/javascripts/jquery.corner.js?v2.01"></script>

	<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection">
</head>

<body>
<div id="pattern_container">

	<img src="/images/jordanandbecca.png" alt="Jordan & Rebecca"/>
	
	<div id="menu">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/rsvp/">RSVP!</a></li>
				<li><a href="/guestbook/">Guestbook</a></li>
				<li><a href="/all/">All Photos</a></li>
				<li><a href="/contact/" class="last">Contact</a></li>
			</ul>
	</div>
	<div class="container">
		<div class="span-24">
			<%= yield -%>		
		</div>
	</div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10866792-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>